In [1]:
import os

In [2]:
%pwd

'c:\\Users\\Prashant kumar singh\\Desktop\\US_Visa_verification\\notebook'

In [3]:
os.chdir("../")

In [4]:
%pwd

'c:\\Users\\Prashant kumar singh\\Desktop\\US_Visa_verification'

In [9]:
import pandas as pd
from pathlib import Path

In [6]:
## I want data , they I will apply the trasnformation on that than model training
raw_data_path = os.path.join("artifact","US_VISA","2025-05-07-16-13-40","data_ingestion","RAW_FILE","US_VISA.csv")

In [11]:
## read the data 
df = pd.read_csv(Path(raw_data_path))

In [12]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [22]:
## calculate the company age 
from datetime import date

current_year =date.today().year

df["Company_Age"]= current_year-(df["yr_of_estab"])

In [24]:
## remove the columns 

df.drop(columns= ['case_id','yr_of_estab'],inplace=True)

## Transform the columns

In [ ]:
from sklearn.preprocessing import OneHotEncoder , StandardScaler, OrdinalEncoder

In [ ]:
or_column = ['education_of_employee','has_job_experience','requires_job_training','full_time_position']
oh_column = ['continent','unit_of_wage','region_of_employment']
transform_column = ['company_age','no_of_employees']
Numerical_Feature=['no_of_employees', 'prevailing_wage', 'company_age']

f